$textColour: #666666;
$headerColour: #333333;
$buttonColour: #18bb7c;
$altButtonColour:#070707;
$backgroundColour: #f8f8f8;
$borderColour: #d7d7d7;
$circleColour: #b6b5b5;
$wrapperSize: 1170px;
$overlayColour: rgba(66,199,148,0.8);
$themeColour: #42c794;
$footerBackground: #191919;